<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="adminHome">
		<div class="container-fluid">
			<div class="col-md-7 dashboardSec">
				<div class="sectionHeading">
					<span class="glyphicon glyphicon-list"></span> 
					<span> Upcoming Exams</span>
					<input id="searchUpExams" type="text" placeholder="Search ..." class="form-control"/>
				</div>
				<div class="col-md-12" id="ExamUpcoming">
				</div>
			</div>
			<div class="col-md-5">
				<div class="dashboardSec">
					<div class="sectionHeading">
						<span class="glyphicon glyphicon-calendar"></span> 
						<span> Calendar</span>
					</div>
					<div id="calendar"></div>
				</div>
				<div class="newsSec">
					<div class="sectionHeading">
						<span class="glyphicon glyphicon-list-alt"></span> 
						<span> News & Events</span>
					</div>
					<div class="col-md-12 dashboardSec" id="newsSec">
					</div>
				</div>
			</div>
		</div>
    </div>
</body>
</html>