<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <div class="container">
        <div class="col-md-6">

        </div>
        <div class="col-md-12">
            <div class="row">
                <!--Start Row-->
                <!-- Default panel contents -->
                <div class="calConnect">

                    <div class="calView" style="display:none;">
                        <div class="darken small-padding" style="height:52px;">
                            <div class="initBtns">
                                <div class="btngroup">
                                    <button id="month" type="button" class="btn viewbtn active">Month</button>
                                    <button id="agendaWeek" type="button" class="btn viewbtn">Week</button>
                                    <button id="agendaDay" type="button" class="btn viewbtn">Day</button>
                                </div>
                                <div class="btngroup pull-right">
                                    <button id="calender-prev" type="button" class="btn"><b class="navs left"></b></button>
                                    <button id="calender-next" type="button" class="btn"><b class="navs right"></b></button>
                                </div>
                            </div>
                            <div class="backFromEve" style="display:none;">
                                <button id="backEve" type="button" class="btn" style="float:right;cursor:pointer;">Back</button>
                                <div class="tooltipping">
                                    <img src="./img/People.png" id="attendees" style="float:left;cursor:pointer;">
                                </div>

                            </div>
                        </div>
                        <div class="force-padding">
                            <div class="initCont">
                                <h1 class="text-light head" id="selected-day"></h1>
                                <h3 class="text-light" id="selected-date"></h3>
                                <div class="events">
                                    <ul class="list-group" id="eve">
                                    </ul>
                                </div>
                            </div>
                            <div class="contentPanel" style="display:none;">
                                <h1 class="text-cont" id="subj"></h1>
                                <h3 class="text-conts" id="timing"></h3>
                                <h3 class="text-conts" id="locate"></h3>
                                <h3 class="text-conts" id="MeetContent" style="border-top: 1px solid #000;"></h3>
                            </div>
                        </div>
                    </div>

                    <div id='calendar' class="cals" style="background-color: #eaeaea;"></div>
                    <div id='scheduleEvent' class="cals" style="background-color: #eaeaea;display:none;padding:20px;overflow-y:scroll;">
                        <div class="meetRow">
                            <label class="meetLab">Details</label>
                            <button id="backSchedule" type="button" class="btn" style="float:right;cursor:pointer;">Back</button>
                        </div>
                        <input class="meetInp" id="meetTitle" placeholder="Add a title for the event" />
                        <input class="meetInp" id="meetLocation" placeholder="Add a location" />
                        <div class="meetRow">
                            <label class="meetLab">Start</label>
                            <input class="meetTimeInp" type="text" id="startDate">
                            <input class="meetTimeInp" type="text" id="startTime">
                        </div>
                        <div class="meetRow">
                            <label class="meetLab" class="meetLab">End</label>
                            <input class="meetTimeInp" type="text" id="endDate">
                            <input class="meetTimeInp" type="text" id="endTime">
                        </div>
                        <div class="meetRow">
                            <label class="meetLab" class="meetLab" style="width:15%;">Attendees : </label>
                            <select id="attendList"></select>
                        </div>
                        <input name="input" type="text" value="" class="jqte-test">
                    </div>
                </div>
            </div>
            <!--/col-lg-8-->
        </div>
    </div>
</body>

</html>