<!DOCTYPE html>
<html>
<body>
	<div class="instruct">
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand"><span class="logo">Creatinnos</span></a>
		    </div>
		    <div class="navbar-right">
	        	<span class="glyphicon glyphicon-off logoff" id="logout"></span>
	        </div>
		  </div>
		</nav>
		<div class="jumbotron">
		  <h2 style="padding: 0px 20px;display:inline-block">Instructions on taking an online test</h2>
		  <span class="timer" id="timer"></span>
		  <button type="button" class="btn btn-success btn-lg startBtn" id ="startTest" style="display:none;">Start Test</button>
		</div>
		<div class="container">
			<div class="row"></div>
		</div>
		<footer id="footer" class="">
			<div class="row">
				<div class="col-md-12">
				Copyright <span class="glyphicon glyphicon-copyright-mark"></span> 2018. Creatinnos. All Rights Reserved.
				</div>
			</div>
		</footer>
	</div>

</body>

</html>