<!DOCTYPE html>
<html>
	<body>
		<div class="instruct">
			<div class="headerBlock">
			  <h2 class="headerContent" style="padding: 0px 20px;display:inline-block">Upcoming Exams</h2>
			  <span class="timer" id="timer"></span>
			  <button type="button" class="btn btn-success btn-lg startBtn" id ="startTest" style="display:none;">Start Test</button>
			</div>
			<div class="container instArea">
				<div class="row">
					<ul id="addInstructions"></ul>
				</div>
			</div>
		</div>
	</body>
</html>