html {
	height: 100%;
}

body {
	min-height: 100%;
}

body {
	font-family: AvenirLT-Roman, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	color: #333;
	background-color: #fff;
	overflow-y: hidden;
	overflow-x: hidden;
}
.section-loader {
	background: url("../images/section-loader.gif") no-repeat 50% 50% rgba(250, 250, 250, 0.6);
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	z-index: 1003;
}

@font-face {
	font-family: Lobster-Regular;
	src: url('../frameworks/fonts/Lobster/Lobster-Regular.ttf');
}

@font-face {
	font-family: Acme-Regular;
	src: url('../frameworks/fonts/Acme/Acme-Regular.ttf');
}

@font-face {
	font-family: BerkshireSwash-Regular;
	src: url('../frameworks/fonts/Berkshire_Swash/BerkshireSwash-Regular.ttf');
}

@font-face {
	font-family: Pacifico-Regular;
	src: url('../frameworks/fonts/Pacifico/Pacifico-Regular.ttf');
}

/***************
******Login*****
****************/

/* USER PROFILE PAGE */
 .card {
    margin-top: 20px;
    padding: 12px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 50px;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 35px;
    line-height: 1.7;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: BerkshireSwash-Regular;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}


.loginPage {
    background: url(../images/loginBg.jpg) no-repeat;
    height: 100%;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.lForm {
    padding-top: 65px;
}

/********************
******Insruction*****
*********************/
.navbar {
    border-radius: 0px !important;
    margin-bottom:0px;
}
.logo {
    padding:0 5px;
    font-size: 35px;
    color: #FFF;
    font-family: BerkshireSwash-Regular;
}
.logoff{
    color: #FFF;
    font-size: 28px;
    padding: 10px 10px;
    cursor: pointer;
}
.headerBlock{
	padding-top: 5px;
    padding-bottom: 5px;
    background:#ececec;
    margin-bottom:10px;
}
.headerContent{
	padding: 0px 20px;
	display:inline-block
}
.instArea{
	margin-bottom:20px;
}

.timer{
	float: right;
    padding: 20px;
    font-size: 26px;
    font-weight:bold;
}
.startBtn{
	float: right;
    margin: 5px 10px;
}
#layoutContainer { 
	overflow-y: auto;
}
#footer {
    padding: 20px;
    color: #FFF;
    background:#222222;
    font-weight: 600;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/********************
******AdminHome******
*********************/
.examList{
    padding: 5px 20px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.examList:hover{
	background:#f5f5f5;
}
.dashboardSec{
	margin-bottom:20px;
}
.sectionHeading{
    border-bottom: 2px solid #000;
    padding: 7px 0px;
    font-size: 18px;
}
.sectionHeading .glyphicons{
	font-size:16px;
}
.sectionHeading input{
	float: right;
    width: 40%;
    height: 27px;
}
.progress {
    margin-bottom: 8px;
}
.noPaddingStart{
	padding:0px 15px 0px 0px;
}

@media (min-width:240px) and (max-width:700px) {
	.sectionHeading {
    font-size: 15px;
	}
	
	.sectionHeading input {
    width: 44%;
    height: 22px;
	}

	#footer {
    	padding: 12px;
	}
}
