html {
	height: 100%;
}

body {
	min-height: 100%;
}

body {
	font-family: AvenirLT-Roman, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	color: #333;
	background-color: #fff;
	overflow-y: hidden;
	overflow-x: hidden;
}
.section-loader {
	background: url("../images/section-loader.gif") no-repeat 50% 50% rgba(250, 250, 250, 0.6);
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	z-index: 9999999;
}

@font-face {
	font-family: Lobster-Regular;
	src: url('../frameworks/fonts/Lobster/Lobster-Regular.ttf');
}

@font-face {
	font-family: Acme-Regular;
	src: url('../frameworks/fonts/Acme/Acme-Regular.ttf');
}

@font-face {
	font-family: BerkshireSwash-Regular;
	src: url('../frameworks/fonts/Berkshire_Swash/BerkshireSwash-Regular.ttf');
}

@font-face {
	font-family: Pacifico-Regular;
	src: url('../frameworks/fonts/Pacifico/Pacifico-Regular.ttf');
}

/***************
******Login*****
****************/

/* USER PROFILE PAGE */
 .card {
    margin-top: 20px;
    padding: 12px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 50px;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 35px;
    line-height: 1.7;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: BerkshireSwash-Regular;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}


.loginPage {
    background: url(../images/loginBg.jpg) no-repeat;
    height: 100%;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.lForm {
    padding-top: 65px;
}

.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; 
      color:#FFF;
      }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }
    
    .checkbox, .radio {
    display: inline-block;
    }
.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; 
  }
  
/********************
******Insruction*****
*********************/
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #655643;
}
.navbar-inverse {
    background-color: #4e3528;
    border-color: #4e3528;
}
.navbar-inverse .navbar-nav>li>a {
    color: #E7DFC6;
}
.navbar {
    border-radius: 0px !important;
    margin-bottom:0px;
}
.logo {
    padding:0 5px;
    font-size: 35px;
    color: #E7DFC6;
    font-family: BerkshireSwash-Regular;
}
.logoff{
    color: #FFF;
    font-size: 28px;
    padding: 10px 10px;
    cursor: pointer;
}
.headerBlock{
	background: #E7DFC6;
	height:50px;
	padding: 10px;
}
.headerContent{
    display: inline-block;
    color: #4e3528;
    font-size: 24px;
}
.instArea{
	margin-bottom:20px;
}

.timer{
    float: right;
    padding: 8px;
    font-size: 26px;
    font-weight: bold;
    color: #FFF;
}
.startBtn{
	float: right;
}
#layoutContainer { 
	overflow-y: auto;
}
#mainContent{
    padding: 10px 0px;
}
/********************
******AdminHome******
*********************/
.examList{
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.examList:hover{
	background:#80bca314;
}
.dashboardSec{
	margin-bottom:20px;
}
.heading{
	font-size: 18px;
    font-weight: bold;
    margin: 5px 0px;
}
.warning{
	color: #f0ad4e;
    margin-right: 10px;
}
.green{
	color: #32a741;
    margin-right: 10px;
}
.red{
	color: #de1515;
    margin-right: 10px;
}
.sectionHeading{
    border-bottom: 2px solid #131B23;
    padding: 7px 0px;
    font-size: 18px;
    color: #4e3528;
}
.sectionHeading .glyphicons{
	font-size:16px;
}
#searchUpExams {
	float: right;
    width: 40% !important;
    height: 27px;
        border-radius: 0px;
}
#searching {
    float: right;
    cursor: pointer;
    width: 25px;
    height: 27px;
}
.progress {
    margin-bottom: 8px;
}
.floatRight{
	float:right;
}
.greyed {
	color: #a29b9b !important;
}
.menus{
	padding: 5px 30px;
	border-bottom: 1px solid #634739;
	cursor: pointer;
	color: #FFF;
}
.menus:hover{
	background: #ffffff21;
}
.menus h4{
	margin-top: 4px;
    margin-bottom: 4px;
}
.menuList{
	font-size: 24px;
	color: #4e3528;
	cursor:pointer;
}
#menuSec{
	margin-left:-280px;
}
.menuSection {
    width: 280px;
    background: #7d5e4e;
    position: absolute;
    z-index: 9999;
    overflow-y:auto;
    overflow-x: hidden;
}

/********************
*****AddNewExam******
*********************/
.formFields{
    width: 50% !important;
}
.dateFields{
    width: 50% !important;
}
.timeFields{
	    width: 15% !important;
    display: inline-block;
}
.addNewExamSec .col-md-6, .col-xs-6{
	margin: 5px 0px;
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.addRemoveBtn{
    position: relative;
    top: 14px;
    left: 10px;
}
.appendDiv{
	    margin: 5px 0px;
}

/********************
*****Questions*******
*********************/

.twitter-typeahead{
width:100%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  width:100%;        
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.questBlock{
	    margin: 15px 0px;
}
.questBlock .row{
	    margin: 10px 0px;
}
.questBlock label{
	    padding:5px 0px;
}
.questfields{
	width:80%;
	display: inline-block;
}
.questBlock legend {
    font-size: 15px;
    font-weight: 600;
}
.delQuest{
	font-size: 18px;
    color: #b50d0d;
    cursor:pointer;
}
@media (min-width:240px) and (max-width:700px) {
	.sectionHeading {
    font-size: 15px;
	}
	
	#searchUpExams {
	float: right;
    width: 44% !important;
    height: 22px;
        border-radius: 0px;
	}
	#searching {
	    float: right;
	    cursor: pointer;
	    width: 21px;
	    height: 22px;
	}
	.examList {
    padding: 5px 5px;
    }
	.formFields{
	    width: 45%;
	    display:inline-block;
	}
	.instTextArea{
	    width: 40% !important;
	}
	.datepicker.dropdown-menu{
		left:50px !important;
	}
	.input-group-addon {
    	padding: 6px 8px;
	}
	#footer {
    	padding: 12px !important;
	}
}
