html {
	height: 100%;
}

body {
	min-height: 100%;
}

body {
	font-family: AvenirLT-Roman, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	color: #333;
	background-color: #fff;
	overflow-y: hidden;
	overflow-x: hidden;
}
.section-loader {
	background: url("../images/section-loader.gif") no-repeat 50% 50% rgba(250, 250, 250, 0.6);
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	z-index: 9999999;
}

@font-face {
	font-family: Lobster-Regular;
	src: url('../frameworks/fonts/Lobster/Lobster-Regular.ttf');
}

@font-face {
	font-family: Acme-Regular;
	src: url('../frameworks/fonts/Acme/Acme-Regular.ttf');
}

@font-face {
	font-family: BerkshireSwash-Regular;
	src: url('../frameworks/fonts/Berkshire_Swash/BerkshireSwash-Regular.ttf');
}

@font-face {
	font-family: Pacifico-Regular;
	src: url('../frameworks/fonts/Pacifico/Pacifico-Regular.ttf');
}

/***************
******Login*****
****************/

/* USER PROFILE PAGE */
 .card {
    margin-top: 20px;
    padding: 12px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 50px;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 35px;
    line-height: 1.7;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: BerkshireSwash-Regular;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}


.loginPage {
    background: url(../images/loginBg.jpg) no-repeat;
    height: 100%;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.lForm {
    padding-top: 65px;
}

/********************
******Insruction*****
*********************/
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #655643;
}
.navbar-inverse {
    background-color: #655643;
    border-color: #655643;
}
.navbar-inverse .navbar-nav>li>a {
    color: #feffd4;
}
.navbar {
    border-radius: 0px !important;
    margin-bottom:0px;
}
.logo {
    padding:0 5px;
    font-size: 35px;
    color: #feffd4;
    font-family: BerkshireSwash-Regular;
}
.logoff{
    color: #FFF;
    font-size: 28px;
    padding: 10px 10px;
    cursor: pointer;
}
.headerBlock{
	background: #80BCA3;
	height:50px;
	padding: 10px;
}
.headerContent{
    display: inline-block;
    color: #ffffff;
    font-size: 24px;
}
.instArea{
	margin-bottom:20px;
}

.timer{
    float: right;
    padding: 8px;
    font-size: 26px;
    font-weight: bold;
    color: #FFF;
}
.startBtn{
	float: right;
}
#layoutContainer { 
	overflow-y: auto;
}
#mainContent{
    padding: 10px 0px;
}
/********************
******AdminHome******
*********************/
.examList{
    padding: 5px 20px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.examList:hover{
	background:#80bca314;
}
.dashboardSec{
	margin-bottom:20px;
}
.sectionHeading{
    border-bottom: 2px solid #655643;
    padding: 7px 0px;
    font-size: 18px;
    color: #655643;
}
.sectionHeading .glyphicons{
	font-size:16px;
}
.sectionHeading input{
	float: right;
    width: 40%;
    height: 27px;
}
.progress {
    margin-bottom: 8px;
}
.noPaddingStart{
	padding:0px 15px 0px 0px;
}
.greyed {
	color: #a29b9b !important;
}
.menus{
	padding: 5px 30px;
    border-bottom: 1px solid #826c51;
    cursor: pointer;
    color: #FFF;
}
.menus:hover{
	background: #ffffff21;
}
.menus h4{
	margin-top: 4px;
    margin-bottom: 4px;
}
.menuList{
	font-size: 24px;
	color: #655643;
	cursor:pointer;
}
#menuSec{
	margin-left:-280px;
}
.menuSection {
    width: 280px;
    background: #655643;
    position: absolute;
    z-index: 9999;
    overflow-y:auto;
    overflow-x: hidden;
}

/********************
*****AddNewExam******
*********************/
.formFields{
    width: 50% !important;
}
.dateFields{
    width: 50% !important;
}
.timeFields{
	    width: 15% !important;
    display: inline-block;
}
.addNewExamSec .row{
	margin: 10px 0px;
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

@media (min-width:240px) and (max-width:700px) {
	.sectionHeading {
    font-size: 15px;
	}
	
	.sectionHeading input {
    width: 44%;
    height: 22px;
	}
	.examList {
    padding: 5px 5px;
    }
    .addNewExamSec .row {
    	padding:0px;
	}
	.formFields{
	    width: 45%;
	    display:inline-block;
	}
	.datepicker.dropdown-menu{
		left:50px !important;
	}
	.input-group-addon {
    	padding: 6px 8px;
	}
	#footer {
    	padding: 12px !important;
	}
}
